<section id="one" class="tiles">
        <article>
                <span class="image">
                        <img src="{{ site.baseurl }}/assets/images/landing-page-home-page.jpg" alt="" />
                </span>
                <header class="major">
                        <h3><a href="{{ site.baseurl }}/landing-pagine-web.html" class="link">Sviluppo Pagine Web</a></h3>
                        <p>Strumenti di marketing per il tuo business online, attrai i tuoi clienti ed ottieni il risultato desiderato</p>
                </header>
        </article>

        <article>
                <span class="image">
                        <img src="{{ page.image }}/assets/images/blog-home.jpg" alt="" />
                </span>
                <header class="major">
                        <h3><a href="{{ site.baseurl }}/landing-blog.html" class="link">Progetto il tuo Blog</a></h3>
                        <p>Raccontati per differenziarti e posizionarti nella mente dei tuoi lettori</p>
                </header>
        </article>

				<article>
                <span class="image">
                        <img src="{{ page.image }}/assets/images/portfolio-home-page.jpg" alt="" />
                </span>
                <header class="major">
                        <h3><a href="{{ site.baseurl }}/landing-portfolio.html" class="link">Creo il tuo Web Portfolio</a></h3>
                        <p>Una presenza professionale eccellente, per lasciare a bocca aperta e far ricordare di se</p>
                </header>
        </article>

				<article>
                <span class="image">
                        <img src="{{ page.image }}/assets/images/digital-strategy-home.jpg" alt="" />
                </span>
                <header class="major">
                        <h3><a href="{{ site.baseurl }}/landing-strategia-digitale.html" class="link">Ideo Strategie Digitali</a></h3>
                        <p>Il giusto modo di promuoverti su web in base al tuo target di audience</p>
                </header>
        </article>

				<article>
                <span class="image">
                        <img src="{{ page.image }}/assets/images/consulenza-branding-home-page.jpg" alt="" />
                </span>
                <header class="major">
                        <h3><a href="{{ site.baseurl }}/landing-branding.html" class="link">Consulenze sul Branding</a></h3>
                        <p>Studio e sviluppo della tua immagine professionale o identit&agrave; aziendale</p>
                </header>
        </article>

				<article>
                <span class="image">
                        <img src="{{ page.image }}/assets/images/slider-home.jpg" alt="" />
                </span>
                <header class="major">
                        <h3><a href="{{ site.baseurl }}/landing-presentazione.html" class="link">Sliders per Relatori e Professionisti</a></h3>
                        <p>Servizi per fornire presentazioni versatili e all'avanguardia, per rendere chiara la tua idea e presentarla al meglio</p>
                </header>
        </article>

</section>
