<section id="one" class="tiles">
        <article>
                <span class="image">
                        <img src="{{ site.baseurl }}/assets/images/pic01.jpg" alt="" />
                </span>
                <header class="major">
                        <h3><a href="{{ site.baseurl }}/landing-pagine-web/" class="link">Pagine Web</a></h3>
                        <p>Strumenti di marketing per il tuo business</p>
                </header>
        </article>

        <article>
                <span class="image">
                        <img src="{{ page.image }}/assets/images/pic02.jpg" alt="" />
                </span>
                <header class="major">
                        <h3><a href="{{ site.baseurl }}{{ page.url }}" class="link">Blog</a></h3>
                        <p>Raccontati per differenziarti</p>
                </header>
        </article>

				<article>
                <span class="image">
                        <img src="{{ page.image }}/assets/images/pic03.jpg" alt="" />
                </span>
                <header class="major">
                        <h3><a href="{{ site.baseurl }}{{ page.url }}" class="link">Portfolio</a></h3>
                        <p>Una presenza professionale eccellente</p>
                </header>
        </article>

				<article>
                <span class="image">
                        <img src="{{ page.image }}/assets/images/pic04.jpg" alt="" />
                </span>
                <header class="major">
                        <h3><a href="{{ site.baseurl }}{{ page.url }}" class="link">Strategia Digitale</a></h3>
                        <p>Il giusto modo di promuoverti su web</p>
                </header>
        </article>

				<article>
                <span class="image">
                        <img src="{{ page.image }}/assets/images/pic05.jpg" alt="" />
                </span>
                <header class="major">
                        <h3><a href="{{ site.baseurl }}{{ page.url }}" class="link">Branding</a></h3>
                        <p>Studio e sviluppo della tua immagine</p>
                </header>
        </article>

				<article>
                <span class="image">
                        <img src="{{ page.image }}/assets/images/pic06.jpg" alt="" />
                </span>
                <header class="major">
                        <h3><a href="{{ site.baseurl }}{{ page.url }}" class="link">Printing</a></h3>
                        <p>Desing della tua immagine su carta</p>
                </header>
        </article>

</section>
