<section id="one" class="tiles">
        <article>
                <span class="image">
                        <img src="{{ site.baseurl }}/assets/images/pic01.jpg" alt="" />
                </span>
                <header class="major">
                        <h3><a href="{{ site.baseurl }}{{ post.url }}" class="link">Pagine Web</a></h3>
                        <p>Strumenti di marketing per il tuo business</p>
                </header>
        </article>

        <article>
                <span class="image">
                        <img src="{{ page.image }}" alt="" />
                </span>
                <header class="major">
                        <h3><a href="{{ site.baseurl }}{{ page.url }}" class="link">{{ page.title }}</a></h3>
                        <p>{{ page.description }}</p>
                </header>
        </article>

</section>
